h1, h2, h3, h4 {
  /* font-family: 'Noto Serif Display', serif; */
  font-family: 'Noto Serif', serif;
}

h5, h6, p , a, button, input, textarea {
  font-family: 'Noto Serif', serif;
}

.input-text-normal {
  /* padding: 20px 10px; */
  /* line-height: 28px; */
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
}

.input-text-large {
  height: 120px;
  margin-left: 10px;
  margin-right: 10px;

}
